In [3]:
!pip install sqlalchemy pandas termcolor --quiet

In [4]:
from getdata import query_data

df_films = query_data('SELECT * FROM inegalites_cinema.festival limit 1')
df_films.head()

Running query
Query run ended in 0.02 seconds

   id                 nom  ...                 created_at                 updated_at
0   1  Festival de Cannes  ... 2025-02-14 12:38:13.382852 2025-02-14 12:38:13.382852

[1 rows x 12 columns]

In [5]:
from getdata import get_connection
import pandas as pd

conn = get_connection()
df_films = pd.read_sql('SELECT * FROM inegalites_cinema.film limit 1', conn)
df_films.head()

Empty DataFrame
Columns: [id, nom_originel, date_sortie_france, pays, duree, langue_principale, format, n_visa_exploitation, created_at, updated_at]
Index: []